*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap ;
}

.menu-mobile{
    display: none;
}

header{
    background-color: white;
    padding: 20px 0;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.logo{
    color: #0ea19a;
}

.logo h2{
    font-weight: normal;
    font-size: 22px;
}

.menu{
    width: 80%;
    text-align: right;
}

.menu a{
    color: #333131;
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.4s;
}

.menu a:hover{
    color: #11EDE0;
}

.menu .btn-menu{
    background-color: #333131;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 8px;
}

.menu .btn-menu:hover{
    background-color: #11EDE0;
    color: white;
}

/* section main */

section.main{
    background-image: url('https://s3.ap-southeast-1.amazonaws.com/lasertag.com/wp-content/uploads/2020/12/14021638/hero-bg.jpg');
    padding: 30px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; /*esse que cria aquele efeito de descer a imagem*/
}

.main_cta{
    width: 100%;
    text-align: center;
    margin: 60px 0;
}

.main_cta h2{
    color: #16ada1;
    font-size: 40px;
}

.main_cta p{
    color: gray;
    font-size: 19px;
    margin: 10px 0;
}

.main_cta button{
    background-color: #11EDE0;
    display: inline-block;
    padding: 8px 30px;
    color: white;
    border-radius: 8px;
    border:0;
    font-size: 16px;
    cursor: pointer;
}

.main_cta button:hover{
    color:#0b504a;
    transition: 1s;
}

.diferenciais{
    display: flex;
    flex-wrap: wrap;
}

.diferencial-single{
    border-radius: 10px;
    background-color: white;
    width: 23%;
    margin-right: 2%;
    padding: 40px 20px;
}

.diferencial-single i{
    color: #1acabc;
    font-size: 23px;
}

.diferencial-single h2{
    color: #16BBAE;
    margin: 2px 0;
    font-size: 17px;
}

.diferencial-single p{
    color: gray;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
}

section.sobre{
    padding: 80px 0;
}

.chamada-sobre{
    width: 100%;
    text-align: center;
}

.chamada-sobre h2{
    color: #16ada1;
    text-transform: uppercase;
}

.chamada-sobre p{
    font-size: 14px;
    color: gray;
    margin: 10px 0;
}

.conteudo-sobre{
    display: flex;
    flex-wrap: wrap;
}

.conteudo-sobre p{
    width: 46%;
    margin-right: 4%;
    color: #000000;
    text-align: justify;
}

.conteudo-sobre span{
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

.conteudo-sobre i{
    color: #1acabc;
}

section.conquistas{
    background-color: #E8EBEE;
    padding: 20px 0;
}

.conquista-single-h2{
    color: #000000;
    text-align: center;
    max-width: 100%;
}

.conquista-single{
    width: 22%;
    margin-right: 3%;
    text-align: center;
    color: #16ada1;
}

.conquista-single h2{
    font-size: 30px;
}

.conquista-single img{
    max-width: 100%;
}

.conquista-single img{
    filter: grayscale(100%);
    transform: scale(1,1);
    transition: 0.5s;
}

.conquista-single img:hover{
    transform: scale(1.1,1.1);
    filter:grayscale(0);
}

.menu-items{
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    text-align: right;
    background-color: white;
    border-bottom: 2px solid gray;
    display: block;
    opacity: 0;
    transition: 1s;
}

.menu-items.show{
    opacity: 1;
}

.menu-items.hide{
    opacity: 0;
}

.menu-items a{
    display: block;
    text-decoration: none;
    color: #181717;
}

section.sobre-especifico{
    padding: 40px 0;
}

.sobre-especifico-img{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.sobre-especifico-img img{max-width:100%;}

.sobre-especifico-content{
    width: 50%;
    padding: 0 50px;
}

.sobre-especifico-content h2{
    color: #16ada1;
    margin-bottom: 20px;
    text-align: center;
}

.sobre-especifico-content p{
    color: #181717;
    font-size: 14px;
    margin-bottom: 14px;
    text-align: justify;
}

section.depoimentos{
    padding: 40px 0;
}

section.depoimentos .depoimentos-chamada{
    text-align: center;
}

.depoimentos-chamada h2{
    color: #16ada1;
}

.depoimentos-chamada p{
    color:rgb(185, 185, 185);
    margin: 10px 0;
    font-size: 14px;
}

.carrousel{
    display: flex;
}

.carrousel-single{
    width: 31%;
    margin-right: 2%;
    text-align: center;
}

.carrousel-single-box{
    padding: 20px;
    background-color: #ebfffe;
    border-radius: 10px;
}

.carrousel-single-box p{
    font-style: italic;
    color: #4b4b4b;
    font-size: 14px;
}

.carrousel-single-box i{
    color:#d9dee2;
    font-size: 18px;
    padding: 0 8px;
}

.carrousel-single img{
    width: 100px;
    height: 100px;  
    border-radius: 50%; 
    display: inline-block;
    margin: 10px 0; 
}

.carrousel-single span{
    color: #a4a8ac;
}

section.contato{
    padding: 40px 0;
    text-align: center;
    background-color: #f1f7fc;
}

.contato-titulo h2{
    color: #16ada1;
}

.contato-titulo p{
    color:#4b4b4b;
    margin: 10px 0;
    font-size: 14px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  input[type=password], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #333131;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  button[type=submit]:hover {
    background-color: #0ec4b7;
    transition: 1s;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    padding: 20px;
  }

footer{
    background-color: white;
    padding: 20px 0;
    border-top: 1px solid rgb(200, 200, 200);
    font-size: 14px;
}

.rodape-ong{
    color: #4b4b4b;
    padding: 10px 0;
    text-align: center;
}

.rodape-grupo{
    color:#b2b5b8;
    text-align: center;
    padding: 5px 0;
}

.rodape-grupo .etec{
    font-style: italic;
}

@media screen and (max-width: 768px){
    .diferencial-single{
        width: 100%;
        margin-bottom: 20px;
    }
    .menu{
        display: none;
    }
    .logo{
        width: 30%;
    }
    .menu-mobile{
        width: 70%;
        text-align: right;
        display: block;
    }
    .menu-mobile i{
        cursor: pointer;
        font-size: 23px;
        margin-top: 8px;
    }
    .conteudo-sobre p{
        width: 100%;
        margin: 20px 20px;
    }
    .sobre-especifico-img{
        width: 100%;
    }
    .sobre-especifico-content{
        width: 100%;
    }
    .conteudo-mapa iframe{
        width: 100px;
    }
}

